<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>这里是你ipa包的下载地址</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>title</key>
				<string>App名字</string>
				<key>bundle-version</key>
				<string>版本号</string>
				<key>releaseNotes</key>
				<string>更新内容</string>
				<key>kind</key>
				<string>software</string>
				<key>bundle-identifier</key>
				<string>你自己项目的bundle ID</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
