<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://10.191.80.224/Volumes/ios/RightEar/测试版/RightEar_release_1.0.0_3.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>title</key>
				<string>右耳</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>releaseNotes</key>
				<string>测试</string>
				<key>kind</key>
				<string>software</string>
				<key>bundle-identifier</key>
				<string>com.yunfeng.rightEar</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
